<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url 'index' %}>Teatro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={% url 'index' %}>Inicio</a>
                </li>
                {% if user.is_authenticated and user.tipo_usuario == 'cliente' %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'mis_reservas' %}>Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'mis_compras' %}>Compras</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href={% url 'nuevo_cliente' %}>Registrate</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and user.tipo_usuario == 'personal' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Administracion
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">
                            Clientes &raquo;</a>
                            <ul class="dropdown-menu submenu">
                                <li><a class="dropdown-item" href={% url 'nuevo_cliente' %}>Registrar Cliente</a></li>
                                <li><a class="dropdown-item" href={% url 'lista_cliente' %}>Consultar Clientes</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">
                            Actores &raquo;</a>
                            <ul class="dropdown-menu submenu">
                                <li><a class="dropdown-item" href={% url 'crear_actor' %}>Registrar Actor</a></li>
                                <li><a class="dropdown-item" href={% url 'lista_actor' %}>Consultar Actor</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">
                            Categorias &raquo;</a>
                            <ul class="dropdown-menu submenu">
                                <li><a class="dropdown-item" href={% url 'crear_categoria' %}>Registrar Categoria</a></li>
                                <li><a class="dropdown-item" href={% url 'lista_categoria' %}>Consultar Categoria</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">
                            Obras &raquo;</a>
                            <ul class="dropdown-menu submenu">
                                <li><a class="dropdown-item" href={% url 'crear_obra' %}>Registrar Obra</a></li>
                                <li><a class="dropdown-item" href={% url 'lista_obra' %}>Consultar Obra</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">
                            Funciones &raquo;</a>
                            <ul class="dropdown-menu submenu">
                                <li><a class="dropdown-item" href={% url 'crear_funcion' %}>Registrar Funciones</a></li>
                            </ul>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">
                            Reportes &raquo;</a>
                            <ul class="dropdown-menu submenu">
                                <li><a class="dropdown-item" href={% url 'reporte_clientes' %}>Clientes</a></li>
                                <li><a class="dropdown-item" href={% url 'reporte_ventas' %}>Ventas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <!-- Formulario para logout con redirección -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'index' %}">
                        <button type="submit" class="nav-link active" aria-current="page">
                            <i class="fa fa-reply" aria-hidden="true"></i> Cerrar sesión
                        </button>
                    </form>
                    {% else %}
                    <!-- Si no está autenticado, mostrar el enlace para iniciar sesión -->
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar Sesión
                    </a>
                    {% endif %}
                </li>
                
            </ul>
        </div>
    </div>
</nav>